<div class='container-fluid'>
  <div class='row justify-content-center'>
    <div class='col-md-8'>
      <h1 class='mb-5 text-center'>- PHOTO EDIT -</h1>
      <%= render "layouts/errors", model: @photo %>
      <%= form_with model: @photo, url: owner_photo_path(@photo.id), method: :patch do |f| %>
      <div>
        <table class='table text-center table-borderless table-responsive-md'>
          <tr>
            <td>写真</td>
            <td><%= f.file_field :image %></td>
          </tr>
          <tr>
            <td>タイトル</td>
            <td><%= f.text_field :title, class: 'form-control' %></td>
          </tr>
          <tr>
            <td>投稿内容</td>
            <td><%= f.text_area :content, class: 'form-control' %></td>
          </tr>
        </table>
        <p class="text-center"><%= f.submit "編集を保存する", class: "btn btn-secondary" %></p>
        <p class="text-right"><%= link_to '一覧へもどる', owner_photos_path, class: 'btn btn-info' %></p>
      </div>
      <% end %>
    </div>
  </div>
</div>