<div class='container-fluid'>
  <div class='row justify-content-center'>
    <div class="col-12">
      <%= render "layouts/errors", model: @photo %>
    </div>
    <div class='col-lg-6'>
      <h1 class='mb-3 text-center'>- PHOTO NEW -</h1>
      <%= form_with model: @photo, url: owner_photos_path, method: :post do |f| %>
      <div>
        <table class='table text-center table-borderless table-responsive-md'>
          <tr>
            <td style='width: 30%'>写真</td>
            <td style='width: 50%'><%= f.file_field :image %></td>
          </tr>
          <tr>
            <td>タイトル</td>
            <td><%= f.text_field :title, class: 'form-control' %></td>
          </tr>
          <tr>
            <td>投稿内容</td>
            <td><%= f.text_area :content, class: 'form-control' %></td>
          </tr>
        </table>
        <p class="text-center"><%= f.submit '投稿する', class: 'btn btn-secondary' %></p>
        <p class="text-right"><%= link_to '一覧へもどる', owner_photos_path, class: 'btn btn-info' %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>