<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-7">
      <h3 class="mb-5 text-center"><%= @shop.name + "の店舗詳細情報" %></h3>
      <table class="table">
        <tr>
          <td>店舗ID</td>
          <td><%= @shop.id %></td>
        </tr>
        <tr>
          <td>店舗名</td>
          <td><%= @shop.name %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @shop.email %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @shop.address %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= @shop.phone_number %></td>
        </tr>
        <tr>
          <td>営業日</td>
          <td><%= @shop.opening %></td>
        </tr>
        <tr>
          <td>定休日</td>
          <td><%= @shop.closed %></td>
        </tr>
        <tr>
          <td>画像</td>
          <td><%= image_tag @shop.get_image(150,100) %></td>
        </tr>
        <tr>
          <td>登録状況</td>
          <% if @shop.is_deleted == false %>
            <td class="text-success">登録中</td>
          <% else %>
            <td class="text-danger">退会済み</td>
          <% end %>
        </tr>
      </table>
      <div class="text-center mt-5">
        <%= link_to "編集する", edit_admin_shop_path(@shop.id), class: "btn btn-secondary mr-5" %>
        <%= link_to "一覧へ戻る", admin_shops_path, class: "btn btn-info ml-5" %>
      </div>
    </div>
  </div>
</div>