<div class='container'>
  <h1 class="mb-5 mt-5 text-center">- MY SHOP -</h1>
  <div class='row justify-content-center align-items-center round-all bg-white mt-5 pt-4'>
    <div class="col-md-6 p-m-4 text-center">
      <div>
        <%= image_tag @shop.get_image(600,400), class: "bd-placeholder-img w-75 rounded m-3" %>
      </div>
    </div>
    <div class='col-md-6 p-4 pl-md-0 text-left'>
      <div>
        <table class='table table-borderless'>
          <tr>
            <td style='width: 40%'>店舗名</td>
            <td style='width: 60%%'><%= @shop.name %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @shop.email %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= @shop.address %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= @shop.phone_number %></td>
          </tr>
          <tr>
            <td>営業日</td>
            <td><%= @shop.opening %></td>
          </tr>
          <tr>
            <td>定休日</td>
            <td><%= @shop.closed %></td>
          </tr>
          <tr>
            <td></td>
            <td class='text-center'><%= link_to '編集する', edit_owner_shop_path, class: 'btn btn-secondary' %></td>
          </tr>
        </table>
      </div>
　　</div>
  </div>
  <div class="row justify-content-center mt-5">
    <%= render "shop_map" %>
  </div>
</div>
