<div class='container-fluid'>
  <h1 class="mb-5 mt-5 text-center">- MY SHOP -</h1>
  <div class='row justify-content-center'>
    <div class="col-md-3 pt-5 bg-white round-left">
      <%= image_tag @shop.get_shop_image(300,300), class: "img-fluid w-100" %>
    </div>
    <div class='col-md-6 pt-5 bg-white round-right'>
      <div>
          <table class='table table-borderless'>
            <tr>
              <td style='width: 40%'>店舗名</td>
              <td style='width: 60%%'><%= @shop.name %></td>
            </tr>
            <tr>
              <td>店舗名(ふりがな）</td>
              <td><%= @shop.name_kana %></td>
            </tr>
            <tr>
              <td>メールアドレス</td>
              <td><%= @shop.email %></td>
            </tr>
            <tr>
              <td>住所</td>
              <td><%= @shop.address %></td>
            </tr>
            <tr>
              <td>電話番号</td>
              <td><%= @shop.phone_number %></td>
            </tr>
            <tr>
              <td>営業日</td>
              <td><%= @shop.opening %></td>
            </tr>
            <tr>
              <td>定休日</td>
              <td><%= @shop.closed %></td>
            </tr>
            <tr>
              <td></td>
              <td class='text-center'><%= link_to '編集する', edit_owner_shop_path, class: 'btn btn-secondary' %></td>
            </tr>
          </table>
      </div>
　　</div>
  </div>
</div>
