<div class='container'>
  <h1 class="mb-5 mt-5 text-center">- MY SHOP -</h1>
  <div class='row justify-content-center align-items-center round-all bg-white mt-5 pt-4'>
    <div class="col-md-6 p-m-4 text-center">
      <div>
        <%= image_tag @shop.get_image(600,400), class: "bd-placeholder-img w-75 rounded m-3" %>
      </div>
    </div>
    <div class='col-md-6 p-4 pl-md-0 text-left'>
      <div>
        <table class='table table-borderless'>
          <tr>
            <td style='width: 40%'>店舗名</td>
            <td style='width: 60%%'><%= @shop.name %></td>
          </tr>
          <tr>
            <td>店舗名(ふりがな）</td>
            <td><%= @shop.name_kana %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @shop.email %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= @shop.address %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= @shop.phone_number %></td>
          </tr>
          <tr>
            <td>営業日</td>
            <td><%= @shop.opening %></td>
          </tr>
          <tr>
            <td>定休日</td>
            <td><%= @shop.closed %></td>
          </tr>
          <tr>
            <td></td>
            <td class='text-center'><%= link_to '編集する', edit_owner_shop_path, class: 'btn btn-secondary' %></td>
          </tr>
        </table>
      </div>
　　</div>
  </div>
<div class="row justify-content-center">
  <div class="col-md-12">
    <h1 class="text-center m-5">- MAP -</h1>
  </div>
  <div class="col-md-12 center-block">
    <script type="text/javascript">
      function initMap() {
        // shopのlatitude,longitudeから位置を特定
        const shop_location = {lat: <%= @shop.latitude %>, lng: <%= @shop.longitude %>};
        // 特定した位置をマップの中心として表示する
        const map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 15,
                  center: shop_location
                  });
        // 交通機関のレイヤーを表示
        const transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);
        
        // ピンに表示する内容
        const contentString =
          '<%= @shop.name %><br>' +
          '<%= @shop.address %>';
        const infowindow = new google.maps.InfoWindow({
          content: contentString
        });
    
        // ピンを挿して表示する
        const marker = new google.maps.Marker({
                      position: shop_location,
                      map: map,
                      title: contentString
                     });
    
        marker.addListener('mouseover', () => {
          infowindow.open({
            anchor: marker,
            map,
              shouldFocus: false,
          });
        });
      }
    </script>
    
    <script
        src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap"
        async defer>
    </script>
    
    <style type="text/css">
      #map { height: 400px;
             width: 70%;}
    </style>
    
    <div id="map" class="mx-auto"></div>
    </div>
  </div>
</div>
