<div class='row position-relative justify-content-center shadow m-3'>
  <div class="col-md-6 text-center shop-box">
    <h3 class="m-3"><%= shop.name %></h3>
    <%= image_tag shop.get_shop_image(500,500), class: "bd-placeholder-img w-75 rounded m-3" %>
  </div>
  <div class="col-md-6 position-static text-left shop-box">
    <div class='m-5'>
      <p>住所</p>
      <p class='mx-3'><%= shop.address %></p>
      <p>電話番号</p>
      <p class='mx-3'><%= shop.phone_number %></p>
      <p>営業日</p>
      <p class='mx-3'><%= shop.opening %></p>
      <p>定休日</p>
      <p class='mx-3'><%= shop.closed %></p>
    </div>
  </div>
</div>