<div class='container'>
  <h1 class="text-center">- SHOP DETAIL -</h1>
  <div class='row justify-content-center round-all bg-white mt-5 pt-4'>
    <%= render "shop", shop: @shop %>
  </div>
  <div class='row justify-content-center mt-5'>
    <%= render "owner/shops/shop_map" %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center m-5">- CATS -</h1>
    </div>

    <div class="row justify-content-center">
    <% if @cats.present? %>
      <% @cats.each do |cat| %>
        <div class="col-md-3">
          <%= render "public/cats/cat", cat: cat %>
        </div>
      <% end %>
      <div class="col-md-12">
        <p class="text-right m-4"><%= link_to "在籍ねこちゃんの一覧を表示する", shop_cats_path(@shop), class: "btn btn-green" %></p>
      </div>
    <% else %>
      <h3 class="text-center">
        在籍しているねこちゃんの登録はありません。
      </h3>
    <% end %>

      <div class="col-md-12">
        <h1 class="text-center m-5">- EVENTS -</h1>
      </div>

      <div class="col-md-7 bg-white justify-content-center p-4">
      <%= month_calendar events: @events do |date, events| %>
        <%= date.day %>
        <% events.each do |event| %>
          <div>
            <%= link_to event.title, shop_event_path(@shop, event.id) %>
          </div>
        <% end %>
      <% end %>
      </div>
      
      <!--今月のイベント情報-->
      <div class="col-md-7">
        <h5 class="text-center m-3 mt-5">〜 今月のイベント情報 〜</h5>
        <% if @current_month_events.present? %>
          <table class="table d-flex justify-content-center text-center">
            <tr>
              <th>イベント日時</th>
              <th>タイトル</th>
              <th>内容</th>
            </tr>
            <% @current_month_events.each do |event| %>
            <tr>
              <td><%= event.start_time.strftime("%Y 年 %m 月 %d 日") %></td>
              <td><%= event.title %></td>
              <td class="text-left"><%= safe_join(event.content.split("\n"), tag(:br)) %></td>
            </tr>
            <% end %>
          </table>
        <% else %>
          <p class="text-center m-4">今月のイベント情報はありません。</p>
        <% end %>
      </div>
    </div>
  </div>
</div>