<div class='card card-columns mb-4'>
  <div class="bd-placeholder-img card-img-top">
    <%= image_tag photo.get_image(600,400), class: "img-fluid img" %>
  </div>
  <div class="card-body  text-truncate">
    <!--ユーザーがサインインしていれば、いいねボタンを表示する-->
    <% if user_signed_in? %>
      <% if photo.shop.is_deleted == false %>
      <p><%= link_to photo.shop.name, shop_path(photo.shop_id), class: 'btn btn-green' %></p>
      <% else %>
      <p><span class="btn-green btn">退会済みユーザー</span></p>
      <% end %>
      <h5>
        <span class="text-dark"><%= photo.title %></span>
          <span class="<%= "favorite-btn" + photo.id.to_s %> h6">
            <%= render "public/photos/favorite-btn", photo: photo %>
          </span>
      </h5>
      <p>
        <small><%= photo.created_at.strftime("%Y年%m月%d日") %></small>
        <% unless current_page?(photo_path(photo)) %>
          <%= link_to "詳細", photo_path(photo.id), class: "ml-3 badge badge-info" %>
        <% end %>
      </p>
    <% else %>
      <h5><%= photo.title %></h5>
      <p class="text-truncate text-dark"><%= photo.content %></p>
      <p>
        <small><%= photo.created_at.strftime("%Y年%m月%d日") %></small>
      </p>
    <% end %>
    <!--表示しているページが一覧表示であれば詳細リンクを表示する-->
    <% if current_page?(photo_path(photo)) %>
    <p class="card-text">
      <%= safe_join(photo.content.split("\n"),tag(:br)) %>
    </p>
    <div>
      <small class="<%= "comment-count" + photo.id.to_s %> mr-3">コメント数：<%= photo.comments.count %></small>
      <small class=<%= "favorite-btn-count" + photo.id.to_s %>>いいね数：<%= photo.favorites.count %></small>
    </div>
    <% end %>
  </div>
</div>