<div class="container">
  <div class="row d-flex justify-content-center" style='margin-top: 50px'>

    <% @photos.each do |photo| %>
      <div class="col-md-4">
        <div class='card card-columns mb-4 shadow-sm'>
          <div class="bd-placeholder-img card-img-top">
            <%= image_tag photo.get_image, class: "img-fluid img" %>
          </div>
          <div class="card-body">
            <h4><%= photo.title %></h4>
            <p>店舗名：<span class='h4'><%= link_to photo.shop.name, shop_path(photo.shop_id), class: 'badge badge-light mr-3' %></span>
            <span class=<%= "favorite-btn" + photo.id.to_s %>>
              <%= render "favorite-btn", photo: photo %>
            </span>
            <p class="card-text text-truncate">
              <%= photo.content %>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <small class=<%= "comment-count" + photo.id.to_s %>>コメント数：<%= photo.comments.count %></small>
              <small class=<%= "favorite-btn-count" + photo.id.to_s %>>いいね数：<%= photo.favorites.count %></small>
              <%= link_to '詳細', photo_path(photo.id), class: 'btn btn-sm btn-info' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>