<div class="container">
  <h1 class="text-center">- PHOTO DETAIL -</h1>

  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <%= render "photo", photo: @photo %>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-md-7 <%= "comment-index" + @photo.id.to_s %>">
      <%= render "comment", photo: @photo %>
    </div>
  </div>
    <!--ユーザーがサインインしていれば、コメント入力フォームを表示-->
  <% if user_signed_in?  %>
    <div class="row d-flex justify-content-center">
      <div class="col-md-5">
        <%= form_with model: [@photo, @comment], url: photo_comments_path(@photo), method: :post, local: false do |f| %>
          <%= f.text_area :photo_comment, placeholder: "ぜひコメントしてください！", class: "form-control m-3" %>
          <p class="text-right"><%= f.submit "送信する", class: "btn btn-info" %></p>
      </div>
    </div>
  <% end %>
    <div class="col-12 clearfix">
      <div class="float-right"><%= link_to "一覧へもどる", photos_path, class: "btn btn-sm btn-secondary" %></div>
    </div>
  <% end %>

</div>