<div>
  <table class="table table-borderless d-flex justify-content-center align-items-center">
    <tr>
      <td><input id="address" type="textbox" value="", size="40", placeholder= "住所/地名/駅を入力してください！" class="form-control"></td>
    </tr>
    <tr class="text-right">
      <td><input type="button" value="地図を検索" onclick="codeAddress()", class="btn btn-green"></td>
    </tr>
  </table>

  <div id="display"></div>
  
  <div id='map' class="mx-auto"></div>
</div>


<style>
    #map {
        height: 400px;
        width: 100%
    }
</style>

<script>

  let map

  const display = document.getElementById('display')

  // mapの表示関数
  function initMap() {
    geocoder = new google.maps.Geocoder()

      // mapの初期位置を東京駅に指定, 縮尺を定義
      map = new google.maps.Map(document.getElementById('map'), {
        center: {
          lat: 35.6809591,
          lng: 139.7673068
        },
        zoom: 12,
      });

      // mapsテーブルにあるそれぞれのレコードをmap上に表示
      <% shops.each do |shop| %>
        (function(){
        // ピンに表示する内容
        const contentString =
          '<%= link_to shop.name, shop_path(shop.id) %><br>' +
          '<%= shop.address %>';

        // マーカーを立てる
        const marker = new google.maps.Marker({
          position:{lat: <%= shop.latitude %>, lng: <%= shop.longitude %>},
          map: map,
          title: contentString
        });

        // ピンを挿して表示する
        const infowindow = new google.maps.InfoWindow({
        position: {lat: <%= shop.latitude %>, lng: <%= shop.longitude %>},
        content: contentString
        });

        // マウスオーバーしたときに情報ウィンドウを表示
        marker.addListener('mouseover', function() {
        infowindow.open(map, marker);
        });
      })();
      <% end %>
  }

  let geocoder

  // 地図検索関数
  function codeAddress() {
    let inputAddress = document.getElementById('address').value;

    geocoder.geocode({
      'address': inputAddress
    }, function (results, status) {
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);

      display.textContent = "検索結果：" + results[ 0 ].geometry.location
      } else {
        alert('該当する結果がありませんでした：' + status);
      }
    });
  }
</script>

<script
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap"
  async defer>
</script>