<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-8">
      <h4 class="text-center">- キーワード検索 -</h4>
      <div>
        <%= render "keyword_search" %>
      </div>
    </div>
    <div class="col-md-8">
      <h4 class="text-center">- マップ検索 -</h4>
      <input id="address" type="textbox" value="">
<input type="button" value="地図を検索" onclick="codeAddress()">
<div id="display"></div>

<div id='map'></div>

<style>
    #map {
        height: 400px;
        width: 400px;
    }
</style>

<script>
  let map

  const display = document.getElementById('display')

  // mapの表示関数
  function initMap() {
    geocoder = new google.maps.Geocoder()

      // mapの初期位置を東京駅に指定, 縮尺を定義
      map = new google.maps.Map(document.getElementById('map'), {
        center: {
          lat: 35.6809591,
          lng: 139.7673068
        },
        zoom: 12,
      });

      // mapsテーブルにあるそれぞれのレコードをmap上に表示
      <% @shops.each do |shop| %>
        (function(){
        var contentString = 
          '<%= shop.name %><br>' +
          '<%= shop.address %>';

        // マーカーを立てる
        var marker = new google.maps.Marker({
          position:{lat: <%= shop.latitude %>, lng: <%= shop.longitude %>},
          map: map,
          title: contentString
        });

        // 情報ウィンドウ(吹き出し)の定義
        // 投稿の詳細ページへのリンクも
        var infowindow = new google.maps.InfoWindow({
        position: {lat: <%= shop.latitude %>, lng: <%= shop.longitude %>},
        content: contentString
        });

        // クリックしたときに情報ウィンドウを表示
        marker.addListener('mouseover', function() {
        infowindow.open(map, marker);
        });

        })();
      <% end %>
  }

  let geocoder

  // 地図検索関数
  function codeAddress() {
    let inputAddress = document.getElementById('address').value;

    geocoder.geocode({
      'address': inputAddress
    }, function (results, status) {
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);
          
      display.textContent = "検索結果：" + results[ 0 ].geometry.location
      } else {
        alert('該当する結果がありませんでした：' + status);
      }
    });
  }
</script>

<script
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap"
  async defer>
</script>


    </div>
  </div>
</div>



