<div class="container">
  <h1 class="text-center">- SEARCH -</h1>
  <div class="row d-flex justify-content-center">

    <div class="col-md-9 mt-5 bg-white round-all p-5">
      <h4 class="text-center">- マップ -</h4>
      <p class="text-center mt-3">マップに住所、地名、駅名などを入力すると、付近にあるお店を探すことができます！</p>
        <%= render "map_search", shops: @shops %>
    </div>

    <div class="col-md-9 m-5 bg-white round-all p-5">
      <h4 class="text-center m-5">- ねこちゃんの特徴 -</h4>
      <p class="text-center mt-3">
        各店舗に在籍しているねこちゃんの性別と特徴から検索することができます！<br>
        お気に入りのねこちゃんを見つけてみてください！
      </p>
      <%= form_with url: search_path, method: :get do |f| %>
        <table class="table table-borderless d-flex justify-content-center align-items-center">
          <tr>
            <td><%= f.select :gender, Cat.genders_i18n.invert,{ }, {class: 'form-control'} %></td>
            <td><%= f.select :feature, Cat.features_i18n.invert,{ }, {class: 'form-control'} %></td>
            <td><%= f.submit '新規登録する', class: 'btn btn-green' %></td>
          </tr>
        </table>
      <% end %>
    </div>

    <div class="col-md-9 m-5 bg-white round-all p-5">
      <h4 class="text-center m-5">- キーワード -</h4>
      <div>
        <%= render "keyword_search" %>
      </div>
    </div>

  </div>
</div>



