<div class="container-fluid m-0 p-0" style="margin: -50px 0 -150px">
  <div class="row position-relative">
    <div class="col-md-12">
      <div class="slideshow">
        <div class="slide-img">
          <%= image_tag "main1.jpg", class: "img-fluid w-100" %>
        </div>
        <div class="slide-img">
          <%= image_tag "main2.jpg", class: "img-fluid w-100" %>
        </div>
        <div class="slide-img">
          <%= image_tag "main3.jpg", class: "img-fluid w-100" %>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-3 py-5 round-all text-center text-box">
        <h1>SAVE neko</h1>
        <h5 class="mt-5 mb-3">あなたも、保護猫カフェに</h5>
        <h5>行ってみませんか？ <i class="fas fa-paw"></i></h5>
      </div>
    　</div>
    </div>
    <div class="col-md-12 text-center">
      <h4 class="my-5">ねこをすくうために何かしたい</h4>
    </div>
  </div>
  <div class="row d-flex justify-content-center align-items-center px-2">
    <div class="col-md-5 text-left">
      <h4 class="my-5">ねこはすきですか？</h4>
      <p>
        ねこが大好きな人でも、保護猫活動をできるわけではないと思います。<br>
        でも、ねこたちのために何かをしてあげたい。何かできることはないだろうか？<br>
        そう思われる方も多いのではないでしょうか？<br>
      </p>
    </div>
    <div class="col-md-5 mt-5 ">
      <div><%= image_tag "top2.jpg", class: "img-fluid w-100 round-all" %></div>
    </div>
  </div>
  <div class="row d-flex justify-content-center align-items-center px-2">
    <div class="col-md-4 mt-5 ">
      <div><%= image_tag "top1.jpg", class: "img-fluid w-100 round-all" %></div>
    </div>
    <div class="col-md-6 text-center">
      <h4 class="my-5">猫と人との幸せの輪を広げていきたい</h4>
      <p>
        保護猫カフェは、ねことあそぶだけでも支援になります。<br>
        このサイトをきっかけに、保護猫カフェに足を運んだり、<br>
        新しい家族を迎え入れる出会いの場になればと思います。
      </p>
      <p><%= link_to "Aboutページへ", about_path, class: "btn btn-green mt-5" %></p>
    </div>

  </div>
</div>
<%= javascript_pack_tag 'scripts/slideshow' %>
