<div style='margin-top: 50px'>
    <%= form_with model: cat, url: owner_shop_cats_path, method: :post do |f| %>
    <table class='table'>
      <tr>
        <td style='width: 30%'>写真</td>
        <td style='width: 50%'><%= f.file_field :cat_image %></td>
      </tr>
      <tr>
        <td>名前</td>
        <td><%= f.text_field :name, class: 'form-control' %></td>
      </tr>
      <tr>
        <td>性別</td>
        <td><%= f.select :gender, Cat.genders_i18n.invert,{ }, {class: 'form-control'} %></td>
      </tr>
      <tr>
        <td>種類</td>
        <td><%= f.select :feature, Cat.features_i18n.invert,{ }, {class: 'form-control'} %></td>
      </tr>
      <tr>
        <td>紹介文</td>
        <td><%= f.text_area :introduction, class: 'form-control' %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit '登録' %></td>
      </tr>
    </table>
    <% end %>
</div>