<div class='container-fluid'>
  <div class='row justify-content-center'>
    <div class='col-md-4'>
      <%= render 'form', cat: @cat_new %>
    </div>
    <div class='col-md-8'>
      <table class='table'>
        <tr>
          <th></th>
          <th>名前</th>
          <th>性別</th>
          <th>種類</th>
          <th>紹介文</th>
          <th></th>
          <th></th>
        </tr>
        <% @cats.each do |cat| %>
        <tr>
          <td><%= image_tag cat.get_cat_image(100, 100) %></td>
          <td><%= cat.name %></td>
          <td><%= cat.gender %></td>
          <td><%= cat.feature %></td>
          <td><%= cat.introduction %></td>
          <td><%= link_to '編集', edit_owner_cat_path(cat) %></td>
          <td><%= link_to '卒業', owner_cat_path(cat), method: :delete %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>