<div class='container-fluid'>
  <div class='row justify-content-center'>
    <div class='col-md-6'>
      <h1 class='mb-3 text-center'>- CAT NEW -</h1>

      <%= render "layouts/errors", model: @cat %>

      <p class="text-center">在籍しているねこちゃんを登録してください！</p>
      <%= form_with model: @cat, url: owner_cats_path, method: :post do |f| %>
        <table class='table text-center table-borderless table-responsive-md'>
          <tr>
            <td style="width: 20%">写真</td>
            <td style="width: 70%"><%= f.file_field :image %></td>
          </tr>
          <tr>
            <td>名前</td>
            <td><%= f.text_field :name, class: 'form-control' %></td>
          </tr>
          <tr>
            <td>性別</td>
            <td><%= f.select :gender, Cat.genders_i18n.invert,{ }, {class: 'form-control'} %></td>
          </tr>
          <tr>
            <td>種類</td>
            <td><%= f.select :feature, Cat.features_i18n.invert,{ }, {class: 'form-control'} %></td>
          </tr>
          <tr>
            <td>紹介文</td>
            <td><%= f.text_area :introduction, class: 'form-control' %></td>
          </tr>
        </table>
        <div class="col-12">
          <p class="text-center"><%= f.submit '新規登録する', class: 'btn btn-info' %></p>
          <p class="text-right"><%= link_to '一覧へもどる', owner_cats_path, class: 'btn btn-green' %></p>
        </div>
    <% end %>
    </div>
  </div>
</div>