<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <h1 class="mb-5 text-center">- CAT DETAIL -</h1>
      <div class="card mb-4 shadow-sm" >
        <div class="bd-placeholder-img card-img-top">
          <%= image_tag @cat.get_image(600,400), class: "img-fluid img" %>
        </div>
        <div class="card-body">
          <h4><%= @cat.name %></h4>
          <div class="card-text">
            <p><%= @cat.gender_i18n %> | <%= @cat.feature_i18n %></p>
            <p><%= safe_join(@cat.introduction.split("\n"),tag(:br)) %></p>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <%= link_to '編集する', edit_owner_cat_path(@cat.id), class: "btn btn-sm btn-outline-secondary"%>
              <%= link_to '卒業する', owner_cat_path(@cat.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: 'btn btn-sm btn-outline-secondary' %>
            </div>
            <small class="text-muted">登録日：<%= @cat.created_at.strftime('%Y年%m月%d日') %></small>
          </div>
        </div>
      </div>

      <div class="col-12 clearfix">
        <div class="float-right"><%= link_to '一覧へもどる', owner_cats_path, class: 'btn btn-sm btn-outline-secondary' %></div>
      </div>

    </div>
  </div>
</div>