<div class='container-fluid'>
  <div class='row justify-content-center'>
    <div class='col-md-6 text-center'>
      <div>
        <h1 class='mb-4'>- SHOP SIGN UP -</h1>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "owner/shared/error_messages", resource: resource %>
            <table class="table table-borderless table-sm">
              <tr>
                <td style="width: 40%"><%= f.label :name, '店舗名' %></td>
                <td style="width: 60%%"><%= f.text_field :name, class: 'form-control' %></td>
              </tr>
              <tr>
                <td><%= f.label :name_kana, '店舗名(ふりがな）' %></td>
                <td><%= f.text_field :name_kana, class: 'form-control' %></td>
              </tr>
              <tr>
                <td><%= f.label :email, 'メールアドレス' %></td>
                <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %></td>
              </tr>
              <tr>
                <td><%= f.label :address, '住所' %></td>
                <td><%= f.text_field :address, class: 'form-control' %></td>
              </tr>
              <tr>
                <td><%= f.label :phone_number, '電話番号' %></td>
                <td><%= f.text_field :phone_number, class: 'form-control' %></td>
              </tr>
              <tr>
                <td><%= f.label :opening, '営業日' %></td>
                <td><%= f.text_field :opening, class: 'form-control' %></td>
              </tr>
              <tr>
                <td><%= f.label :closed, '定休日' %></td>
                <td><%= f.text_field :closed, class: 'form-control' %></td>
              </tr>
              <tr>
                <td>
                  <%= f.label :password, 'パスワード' %>
                　<% if @minimum_password_length %>
                  <span>(<%= @minimum_password_length %>文字以上)</span>
                  <% end %>
                </td>
                <td><%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %></td>
              </tr>
              <tr>
                <td><%= f.label :password_confirmation, 'パスワード確認用' %></td>
                <td><%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %></td>
              </tr>
            </table>


          <div class="actions">
            <%= f.submit '新規登録', class: 'btn btn-secondary' %>
          </div>
        <% end %>

        <%= render "owner/shared/links" %>

      </div>
　　</div>
  </div>
</div>
