<div class="container-fluid">
  <h1 class="mb-5 text-center">- EVENTS -</h1>
  <%= render "layouts/errors", model: @event %>
  <div class="row d-flex justify-content-center">
    <div class="col-md-3 m-5 p-5 border border-white">
      <h3 class="text-center">新規登録</h3>
      <%= form_with model: @event, url: owner_events_path, method: :post do |f| %>
        <p>タイトル</p>
        <p><%= f.text_field :title, class: "form-control" %></p>
        <p>日付</p>
        <p><%= f.date_select :start_time %></p>
        <p>内容</p>
        <p><%= f.text_area :content, class: "form-control" %></p>
        <p class="text-right m-3"><%= f.submit "イベント投稿する", class: "btn btn-info" %></p>
      <% end %>
    </div>
    <div class="col-md-7 bg-white">
      <%= month_calendar events: @events do |date, events| %>
        <%= date.day %>

        <% events.each do |event| %>
          <div>
            <%= link_to event.title, owner_event_path(event.id) %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>