<!DOCTYPE html>
<html>
  <head>
    <title>SaveNeko</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/7674a4dd8f.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag "application", media: "all"%>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;800&family=Montserrat:wght@900&display=swap" rel="stylesheet">
    </head>

  <body>
    <header>
      <%= render "layouts/header" %>
    </header>
    <main>
      <% if alert.present? %>
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 bg-warning text-danger p-3 m-2">
            <%= alert %>
          </div>
        </div>
      </div>
      <% end %>
            
      <%= yield %>
    </main>
    <footer>
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
